# See http://help.github.com/ignore-files/ for more about ignoring files.

/config.yaml
/coverage.out
/coverage.html

# Compiled output
web/dist
/tmp
/out-tsc
/bazel-out

# Node
web/node_modules
web/npm-debug.log
web/yarn-error.log

# IDEs and editors
.idea/
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
web/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

web/src/environments/environment.local.ts
main
kubernetes/helm/*.yaml